.button {
  &-nude {
    background: none;
    border: none;
  }
  &-primary {
    color: white !important;
    background-color: $primary-button-color !important;
  }

  &-danger {
    color: black !important;
    background-color: red !important;
  }
  &-glass {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.45);
    // to give more solid background glass not just transparent
    //   background: linear-gradient(
    //     120deg,
    //     rgba(255, 255, 255, 0.25),
    //     rgba(255, 255, 255, 0.75),
    //     70%,
    //     rgba(255, 255, 255, 0.25)
    //   );
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
  }
  &-floating {
    max-width: 500px;
    width: 368px;
    height: 48px;
    letter-spacing: 2px;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
  }
}
