.container2 {
  display: flex;
}
.box2 {
  background-image: linear-gradient(#afb0ab, #afb0ab),
    linear-gradient(#afb0ab, #afb0ab), linear-gradient(#afb0ab, #afb0ab),
    linear-gradient(#afb0ab, #afb0ab), linear-gradient($bg-color, $bg-color);
  background-repeat: no-repeat;
  background-size: 2px 20%, 20% 2px, 2px 30%, 40% 2px,
    calc(100% - 8px) calc(100% - 8px);
  background-position: left, top;

  height: 160px;
  width: 160px;
  padding: 50px;
}

// .gradient-border2 {
//   background-image: linear-gradient(red, purple),
//     linear-gradient(to right, purple, red),
//     linear-gradient(to bottom, purple, red),
//     linear-gradient(to left, purple, red), linear-gradient(steelblue, steelblue);
// }
