.containerTwoLine {
  display: flex;
}
.boxTwoLine {
  background-image: linear-gradient(#afb0ab, #afb0ab),
    linear-gradient(#afb0ab, #afb0ab), linear-gradient(#afb0ab, #afb0ab),
    linear-gradient(#afb0ab, #afb0ab),
    linear-gradient($primary-color, $primary-color);
  background-repeat: no-repeat;
  background-size: 2px 20%, 20% 2px, 2px 30%, 20% 2px,
    calc(100% - 8px) calc(100% - 8px);
  background-position: left, top;
  padding: 50px;
  flex: 1 0;
}
.headerContaier {
  margin: 50px 0px;
}

.headerText {
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  &-selected {
    color: rgba(1, 88, 255, 1);
  }
}

.textLeftUp {
  transform: rotate(90deg);
  width: 250px;
  padding-top: 204px;
}

.textLeftDown {
  transform: rotate(90deg);
  width: 255px;
  padding-top: 207px;
  padding-left: 20px;
}

.iconLeft {
  padding-bottom: 13px;
  padding-left: 13px;
}

.imageHeaderContainer {
  align-items: center;
  display: flex;
  height: fit-content;
  justify-content: center;
}

.circle {
  width: 150px;
  height: 150px;
  line-height: 145px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  text-align: center;
  background: #000;
}
