.box {
  height: 8px;
  width: 8px;
  margin: 0px 15px;
  background-color: rgba(1, 70, 204, 1);
}

.headerHeight {
  height: 80px;
}

.headerMargin {
  margin: 0px 0px 10vw 0px;
}

.headerRotate {
  transform: rotate(-5deg);
}

.headerBorder {
  border-top: 1px solid rgba(1, 70, 204, 1);
  border-bottom: 1px solid rgba(1, 70, 204, 1);
}

.headerText {
  font-family: "Gambetta";
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
  color: rgba(175, 176, 171, 1);
}

.scrollingtextanimation {
  /* animation properties */
  //   transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
