.box {
  height: 8px;
  width: 8px;
  background-color: rgba(1, 70, 204, 1);
}

.headerHeight {
  height: 80px;
  width: 100vw;
}

.headerMargin {
  margin: 0px 0px 3vw 0px;
}

.headerRotate {
  transform: rotate(-5deg);
}

.headerBorder {
  border-top: 1px solid rgba(1, 70, 204, 1);
  border-bottom: 1px solid rgba(1, 70, 204, 1);
}

.headerText {
  font-family: "Gambetta";
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(175, 176, 171, 1);
}

.titleContentText {
  font-size: 64px;
  line-height: 74px;
  color: rgba(31, 31, 31, 1);
  font-weight: 400;
}

.ContentText {
  font-size: 20px;
  line-height: 26px;
  color: rgba(253, 253, 253, 1);
  font-weight: 300;
}

.scrollingtextanimation {
  /* animation properties */
  //   transform: translateX(100%);

  -moz-animation: my-animation 25s linear infinite;
  -webkit-animation: my-animation 25s linear infinite;
  animation: my-animation 25s linear infinite;
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
