.fullWidth {
  width: 1005;
}
.fullHeight {
  height: 100%;
}
.textAlignLeft {
  text-align: left;
}
.textAlignRight {
  text-align: right;
}
.textAlignCenter {
  text-align: center;
}
.columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.columnStart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.columnEndAlignCenter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.columnCenterAlignStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.rowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rowStart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.rowStartAlignStrech {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.rowStartAlignEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.rowAlignEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.rowAlignTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.rowBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.rowAround {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.alignEvenlyInRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.rowAlignBetweenBaseline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.rowAlignBetweenStretch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.rowAlignEndBaseline {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}
.rowStartAlignStart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
